//不使用antfu的配置时将.eslintrc 改为 .eslintrc.cjs
// module.exports = {
//     "env": {
//         "browser": true,
//         "es6":true,
//         "es2021": true,
//         "node":true
//     },
//     "extends": [
//         "eslint:recommended",
//         "plugin:vue/vue3-essential",
//         "plugin:@typescript-eslint/recommended"
//     ],
//     "overrides": [
//     ],
//     "parser": "vue-eslint-parser",
//     "parserOptions": {
//         "parser": "@typescript-eslint/parser",
//         "ecmaVersion": "latest",
//         "sourceType": "module"
//     },
//     "plugins": [
//         "vue",
//         "@typescript-eslint"
//     ],
//     "rules": {
//     }
// }
{
    "root": true,   
    "extends":  
    [
        "@antfu"
    ],
    "rules": {
        "no-console": "off",
        "vue/no-unused-vars": "off", //关闭未使用的变量警告
        "unused-imports/no-unused-vars": "off",//关闭未使用的Import警告,未使用的参数警告
        "vue/singleline-html-element-content-newline": "off"   //关闭此 Eslint 错误“html 标记前后的预期新换行符
        // "vue/multiline-html-element-content-newline": "off"
    }
}