@import './reset.scss';

::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar-track{
    display: none;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: yellowgreen;
    border-radius: 10px;
}